---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_history?access_token=664d80152194f99805a5979316e0f1af16416666
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7bdf534aac74bc7332048f533fd8dd7beff7d1ae"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_history": [{"has_link_deeplinks":
        false, "archived": false, "user_ts": 1522824170, "title": "reddit: the front
        page of the internet", "created_at": 1522824170, "tags": [], "modified_at":
        1522824170, "campaign_ids": [], "private": true, "aggregate_link": "http://bit.ly/grRCQh",
        "long_url": "https://www.reddit.com/", "client_id": "a5e8cebb233c5d07e5c553e917dffb92fec5264d",
        "link": "http://bit.ly/2uNgpk4", "is_domain_deeplink": false, "encoding_user":
        {"login": "o_k9q7gj1kj", "display_name": "Lani Berry", "full_name": "Lani
        Berry"}}, {"has_link_deeplinks": false, "archived": false, "user_ts": 1522823392,
        "title": "Ruby ''require'' error: cannot load such file - Stack Overflow",
        "created_at": 1522823392, "tags": [], "modified_at": 1522823392, "campaign_ids":
        [], "private": true, "aggregate_link": "http://bit.ly/1iP5qM9", "long_url":
        "https://stackoverflow.com/questions/9750610/ruby-require-error-cannot-load-such-file",
        "client_id": "a5e8cebb233c5d07e5c553e917dff[...]
